/**
 *  Project: onepageMD
 *  File: kanff.css the default style sheet
 *  Author: Samuel Roland
 *  Creation date: 20.02.2021
 */
/* Header */
select {
  border: none !important;
  background-color: #aedaf2 !important;
}

h2 {
  @apply text-5xl;
}

/* Markdown styles */
.mdstyle {
  line-height: 1.4 !important;
  font-size: 1em !important;
  word-break: normal !important;
}
.mdstyle img {
  border: 1px #717171 solid !important;
  max-height: 900px !important;
  border-radius: 3px !important;
  margin-top: 5px !important;
  margin-bottom: 10px !important;
}

.mdstyle .thinBlackBorderForTitle {
  margin: 0px !important;
  padding-bottom: 10px !important;
  border-bottom: 2px solid #38417f !important;
  color: #38417f !important;
}

.mdstyle .thinBlackBorderForTitle h1 {
  border: none !important;
  margin: 0px !important;
  padding: 0px !important;
}

.mdstyle h1 {
  font-weight: bold;
  font-size: 2em;
  margin-top: 0 !important;
  color: #38417f !important;
}

.mdstyle h2 {
  font-size: 1.7em;
  color: #348a19 !important;
  border-bottom: 1px solid !important;
}
li {
  list-style: initial;
  margin-left: 15px;
}
.mdstyle h3 {
  font-size: 1.5em;
  color: #ff7700 !important;
}

.mdstyle h4 {
  color: #4fb6e3 !important;
}

.mdstyle h5 {
  color: #4fb6e3 !important;
}

.mdstyle h6 {
  color: #4fb6e3 !important;
}

.mdstyle p code,
.mdstyle li code {
  color: darkblue !important;
  background-color: #aedaf2 !important;
  padding: 1px 4px !important;
  border-radius: 5px !important;
  font-family: Verdana !important;
  font-size: 0.9em !important;
  margin: 2px 0px !important;
}

.mdstyle pre code {
  color: darkblue !important;
  background-color: transparent !important;
  padding: 2px 5px !important;
  border-radius: 5px !important;
  font-family: Verdana !important;
  font-size: 0.9em !important;
}

.mdstyle pre {
  background-color: #aedaf2 !important;
  padding: 5px !important;
  border-radius: 5px !important;
}

.mdstyle li {
  margin-bottom: 10px !important;
  margin-top: 5px !important;
}

.mdstyle p {
  margin-bottom: 20px !important;
  margin-top: 10px !important;
}

.mdstyle .mdTOC li {
  margin: 0 !important;
}
